Repository kotest/kotest, pull requests merged in 2024-07, with the labels that each got.

#4136 Publish Kotest KMP Gradle Plugin to Maven Central
  buildSrc/src/main/kotlin/kotest-publishing-conventions.gradle.kts
  kotest-framework/kotest-framework-multiplatform-plugin-gradle/build.gradle.kts
Labels: builds 🐘

#4141 Enable remote Gradle Build Cache
  .github/workflows/run-gradle.yml
  settings.gradle.kts
Labels: builds 🐘

#4148 Optimize Kotest framework discovery in Kotest's own tests
  buildSrc/src/main/kotlin/kotlin-conventions.gradle.kts
  kotest-framework/kotest-framework-engine/build.gradle.kts
  kotest-tests/kotest-tests-autoscan/build.gradle.kts
  kotest-tests/kotest-tests-multipleconfig/build.gradle.kts
  kotest-tests/kotest-tests-tagextension/build.gradle.kts
Labels: builds 🐘

#4051 Cleaning stacktraces later
  kotest-assertions/kotest-assertions-core/src/jvmTest/kotlin/com/sksamuel/kotest/FailuresTest.kt
  kotest-assertions/kotest-assertions-shared/src/commonMain/kotlin/io/kotest/assertions/ErrorCollector.kt
  kotest-assertions/kotest-assertions-shared/src/commonMain/kotlin/io/kotest/assertions/failures.kt
Labels: assertions 🔍

#4187 GHA - Cache the Kotest user dir
  .github/workflows/run-gradle.yml
Labels: property-testing 📏, builds 🐘

#4188 Fix Gradle signing/publish task dependency
  buildSrc/src/main/kotlin/kotest-publishing-conventions.gradle.kts
Labels: builds 🐘

#4018 eventually fixed
  kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/assertions/nondeterministic/eventually.kt
  kotest-assertions/kotest-assertions-core/src/jvmTest/kotlin/io/kotest/assertions/nondeterministic/EventuallyTest.kt
Labels: assertions 🔍

#4183 Optimise PBT seed files
  .github/workflows/run-gradle.yml
  kotest-property/api/kotest-property.api
  kotest-property/kotest-property-lifecycle/src/commonMain/kotlin/io/kotest/property/lifecycle/lifecycle.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest10.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest11.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest12.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest13.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest14.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest15.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest16.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest17.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest18.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest19.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest20.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest21.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest22.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest6.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest7.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest8.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/PropertyTest9.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/context.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/internal/proptest.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/internal/proptest.onSuccess.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/internal/test.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/propertyTest1.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/propertyTest2.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/propertyTest3.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/propertyTest4.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/propertyTest5.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/seed/seed.kt
  kotest-property/src/desktopMain/kotlin/io/kotest/property/seed/loadSeedFromFile.kt
  kotest-property/src/jsHostedMain/kotlin/io/kotest/property/seed/loadSeedFromFile.kt
  kotest-property/src/jvmMain/kotlin/io/kotest/property/seed/seedio.kt
  kotest-property/src/jvmTest/kotlin/com/sksamuel/kotest/property/exhaustive/ForAllExhaustivesIterationTest.kt
  kotest-property/src/jvmTest/kotlin/com/sksamuel/kotest/property/seed/PersistSeedsTest.kt
Labels: property-testing 📏

#3977 Fix contain exactly verifier
  kotest-assertions/kotest-assertions-core/src/commonMain/kotlin/io/kotest/matchers/collections/containExactly.kt
  kotest-assertions/kotest-assertions-core/src/jvmTest/kotlin/com/sksamuel/kotest/matchers/collections/ShouldContainExactlyTest.kt
  kotest-assertions/kotest-assertions-core/src/jvmTest/kotlin/io/kotest/matchers/collections/MatchCollectionsWithVerifierTest.kt
Labels: bug 🐛

#4074 Create BuildService for collecting dependencies for kotest-bom
  buildSrc/src/main/kotlin/kotest-publishing-conventions.gradle.kts
  kotest-bom/build.gradle.kts
Labels: builds 🐘

#4194 Suffix Kotest Gradle Plugin snapshot versions with `-SNAPSHOT`
  buildSrc/src/main/kotlin/Ci.kt
  kotest-framework/kotest-framework-multiplatform-plugin-gradle/build.gradle.kts
Labels: builds 🐘

#4174 use Dev Publish plugin to test Kotest plugin
  .gitignore
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/kotest-publishing-conventions.gradle.kts
  buildSrc/src/main/kotlin/utils/SystemPropertiesArgumentProvider.kt
  gradle/libs.versions.toml
  kotest-framework/kotest-framework-multiplatform-plugin-gradle/build.gradle.kts
  kotest-framework/kotest-framework-multiplatform-plugin-gradle/src/test/kotlin/io/kotest/framework/multiplatform/gradle/KotestMultiplatformCompilerGradlePluginSpec.kt
  kotest-framework/kotest-framework-multiplatform-plugin-gradle/test-project/build.gradle.kts
  kotest-framework/kotest-framework-multiplatform-plugin-gradle/test-project/gradle.properties
  kotest-framework/kotest-framework-multiplatform-plugin-gradle/test-project/settings.gradle.kts
Labels: builds 🐘

#4190 Remove deprecated/relocated Arb reflection utils
  kotest-property/api/kotest-property.api
  kotest-property/src/commonMain/kotlin/io/kotest/property/arbitrary/reflection.kt
  kotest-property/src/commonMain/kotlin/io/kotest/property/resolution/CommonTypeArbResolver.kt
  kotest-property/src/desktopMain/kotlin/io/kotest/property/arbitrary/targetDefaultForClassName.kt
  kotest-property/src/jsHostedMain/kotlin/io/kotest/property/arbitrary/targetDefaultForClassName.kt
  kotest-property/src/jvmMain/kotlin/io/kotest/property/arbitrary/jvmbind.kt
  kotest-property/src/jvmMain/kotlin/io/kotest/property/arbitrary/targetDefaultForClassName.kt
  kotest-property/src/jvmTest/kotlin/com/sksamuel/kotest/property/ArbDefaultsTest.kt
Labels: property-testing 📏

#4193 Remove GitHub Run ID from SNAPSHOT version
  buildSrc/src/main/kotlin/Ci.kt
Labels: builds 🐘

#4220 Remove JetBrains nodejs.org cache-redirector repository link
  settings.gradle.kts
Labels: builds 🐘

#4226 Remove java-library Gradle plugin
  buildSrc/src/main/kotlin/kotest-publishing-conventions.gradle.kts
  buildSrc/src/main/kotlin/kotlin-conventions.gradle.kts
Labels: builds 🐘

#4218 Improve Gradle Java support
  buildSrc/src/main/kotlin/kotest-jvm-conventions.gradle.kts
  buildSrc/src/main/kotlin/kotlin-conventions.gradle.kts
  buildSrc/src/main/kotlin/utils/JavaToolchains.kt
  gradle/libs.versions.toml
  kotest-assertions/kotest-assertions-core/src/jvmTest/kotlin/com/sksamuel/kotest/matchers/compose/ComposeAllTest.kt
  kotest-assertions/kotest-assertions-core/src/jvmTest/kotlin/com/sksamuel/kotest/matchers/compose/ComposeAnyTest.kt
  kotest-assertions/kotest-assertions-shared/src/jvmMain/kotlin/io/kotest/assertions/async/timeout.jvm.kt
  kotest-extensions/build.gradle.kts
  kotest-extensions/kotest-extensions-blockhound/build.gradle.kts
  kotest-framework/kotest-framework-api/src/jvmMain/kotlin/io/kotest/core/writeLog.kt
  kotest-framework/kotest-framework-engine/build.gradle.kts
  settings.gradle.kts
Labels: builds 🐘
